<div class="user_show_header">
  <h1> <%= @user.name %>'s Profile </h1>
</div>

<div class="question_list_container">
  <h3> Questions Asked: </h3>
  <%= render partial: "user_questions", locals: {questions: @questions} %>
</div>

<div class="question_list_container">
  <h3> Questions Answered: </h3>
  <%= render partial: "user_questions", locals: {questions: @questions_answered} %>
</div>


