<% if @errors %>
  <ul><% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %></ul>
<% end %>

<%= form_for @answer, url: question_answers_path(@question) do |f| %>
<%= render partial: "form", locals: { f: f } %>
<% end %>

