/*   QUESTION CREATE PAGE    */

.new_question_container {
  text-align: center;
  margin: 1em;
}

.title_input {
  width: 50%;

}

.question_preview {
  margin: 1em;
  border-bottom: 1px dotted gray;
  padding-bottom: 1em;
}

.content_input {
  width: 50%;
}

/*   QUESTION INDEX PAGE    */

.question_votes {
  display: inline-block;
  text-align: center;
  margin: 1em;
}

.question_answers {
  display: inline-block;
  text-align: center;
  margin: 1em;
}

.question_info {
  display: inline-block;
  margin: 1em;
  width: 50em;
}

.pagination {
  width: 100%;
  text-align: center;
}

/*   QUESTION SHOW PAGE    */

.question_show_title {
  margin: 1em;
  padding-bottom: 1em;
  border-bottom: dotted 1px gray;
}

.question_show_user {
  margin-left: 2em;
}

.question_show_votes {
  display: inline-block;
  text-align: center;
  margin: 1em;
  width: 5em;
}

.question_show_contents {
  display: inline-block;
  width: 50em;
  margin: 1em;
}

.question_show_tags {
  display: inline-block;
  width: 50em;
  margin: 1em;
}

.question_show_tag_category{
  background-color: #4B698B;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  padding: 0.33em;
}

.question_show_tag_category:hover{
  background-color: #738CA6;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  padding: 0.5em;
}

.question_show_comments {
  display: inline-block;
  width: 50em;
  margin: 1em;
  padding-top: 0.5em;
}

.question_show_new_answer {
  text-align: center;
  margin: auto;
  width: 10em;
  padding: 1em;
  background-color: #738ca6;
  border-radius: 4px;
  margin-bottom: 2em;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.question_show_new_answer_text {
  color: white;
}

.question_show_new_comment_container {
  display: none;
}

.new_comment_button {
  margin: 2em 0 2em 0;
}
